PAGE DoublePAL
SCRIPT DoublePAL 640 256
PLAYER DoublePAL
COLORS 3
WORKBENCH OFF
IMPORT_PICTURE_PATH "Work:MediaPoint/Graphics/pictures/"
IMPORT_TEXT_PATH "Work:MediaPoint/Datafiles/"
DOCUMENT_PATH "Aso:LAN_Player/Pages/"
SCRIPT_PATH "Aso:LAN_Player/Scripts/"
ANIM_PATH "Work:MediaPoint/Graphics/Animations/"
MUSIC_PATH "Work:MediaPoint/Sounds/Modules/"
SAMPLE_PATH "Work:MediaPoint/Sounds/Samples/"
USERLEVEL 3
SHOWPROG OFF
TEXTEDITOR "c:ed %s"
THUMBNAILS LARGE 4
F1_TIMECODE "00:00:00:00"
F2_TIMECODE "00:00:01:00"
F3_TIMECODE "00:00:02:00"
F4_TIMECODE "00:00:03:00"
F5_TIMECODE "00:00:04:00"
F6_TIMECODE "00:00:05:00"
PRINTERPREFS 1, TRUE, 1, 1, 2
LANGUAGE 1
STANDBY OFF
INPUT CURSOR
POINTER AUTO
WINDOW -1,-1,-1,-1,1,1,1,0,0,0,0,0,8,4,0,1
FORMAT 0,0,0,0,2,1,1,0,0,0,0,0
STYLE mediapoint,20,0,2,2
HOMEDIR 1, "Graphics", "MP:Graphics/"
GAMEPORT "1","2","3","4","5","6","7","8","a","b","c",500000,ON
FASTMENUS NO
INPUT_DELAY 500000
