PAGE multiscan
SCRIPT multiscan 640 480
PLAYER multiscan
COLORS 19
WORKBENCH ON
IMPORT_PICTURE_PATH "Work:Paint/Pics/8bit/"
IMPORT_TEXT_PATH "Work:MediaPoint/Datafiles/"
DOCUMENT_PATH "Work:MediaPoint/Pages/"
SCRIPT_PATH "Work:MediaPoint/scripts/"
ANIM_PATH "Work:MediaPoint/Graphics/Animations/"
MUSIC_PATH "Work:MediaPoint/Sounds/Modules/"
SAMPLE_PATH "Work:MediaPoint/Sounds/Samples/"
USERLEVEL 3
TEXTEDITOR "c:ed %s"
THUMBNAILS LARGE 5
F1_TIMECODE "00:00:00:00"
F2_TIMECODE "00:00:01:00"
F3_TIMECODE "00:00:02:00"
F4_TIMECODE "00:00:03:00"
F5_TIMECODE "00:00:04:00"
F6_TIMECODE "00:00:05:00"
PRINTERPREFS 1, TRUE, 1, 1, 2
LANGUAGE 1
WINDOW -1,-1,-1,-1,1,1,1,0,0,0,0,0,8,4,0,1
FORMAT 0,0,0,0,2,1,1,0,0,0,0,0
STYLE mediapoint,20,0,2,2
HOMEDIR 1, "MP", "Work:MediaPoint/"
HOMEDIR 2, "Pictures", "Work:Paint/Pics/"
HOMEDIR 3, "samples", "Work:MediaPoint/Sounds/Samples/"
APPLIC "Work:SC/Debug/intuigfx/MKS_Lens" "MKS_Lens"
GAMEPORT "x","b","c","d","e","f","g","h","i","j","k",500000
FASTMENUS NO
INPUT_DELAY 500000
FASTICONS NO
